<div class="home-container">

  <div class="website-name">
    <img src="./assets/images/TravelCrowd.png">
  </div>

    <div class="slideshow">
        <!-- slideshow -->
        <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="slideshow-image" src="./assets/images/Fuji-Pagoda.jpg">
              </div>
              <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="slideshow-image" src="./assets/images/Madrid.jpg">
              </div>
              <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="slideshow-image" src="./assets/images/Parigi.jpg">
              </div>
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
        </ngb-carousel>
    </div>
      
    <div class="center-page">

      <div class="section-title">I nostri viaggi</div>
     
      <div class="card-deck travel-card">
        <div class="card">
          <img class="card-img-top" src="./assets/images/Nice.jpg">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/LondonPhone.jpg">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/Porto.jpg">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>

      <div>
        
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum dictum magna, eu ultricies eros pharetra id. Vestibulum fermentum tristique augue eu lobortis. Nulla sapien diam, facilisis ac venenatis sit amet, mattis id lacus. Suspendisse ante ante, molestie sed ante eget, lacinia accumsan dui. Sed rutrum vel turpis ut porttitor. Suspendisse lorem urna, laoreet nec placerat in, bibendum in lectus. Cras facilisis volutpat urna, vitae malesuada sem rutrum sit amet. Aenean pretium, orci tempor consequat accumsan, nibh eros mollis lorem, at tristique enim neque ut erat. Nam ipsum massa, sodales a mollis ut, lacinia in orci. Nulla facilisi. Morbi vel lorem erat. Nunc nec accumsan felis, ut sodales sem. Praesent pellentesque porttitor sollicitudin. Duis at quam ante. Mauris varius pharetra tellus a varius.

Vestibulum aliquet odio nec mi sagittis, eget commodo massa sagittis. Cras congue pellentesque lacus et semper. Vestibulum rhoncus enim ac urna commodo viverra in et nibh. Aenean pulvinar diam at augue luctus auctor. Vestibulum placerat arcu in neque viverra feugiat. Maecenas convallis, magna euismod congue venenatis, quam dolor fermentum arcu, nec condimentum nulla nibh at ligula. Nullam finibus magna ultricies velit imperdiet, eget bibendum ex convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque scelerisque dapibus risus, eu tristique mauris consectetur id. Curabitur ligula sapien, porttitor congue felis in, pharetra aliquam lacus.

Pellentesque euismod velit sed magna luctus condimentum sed sed nisi. Phasellus consequat rhoncus erat, at cursus nulla posuere a. Praesent faucibus laoreet sodales. Curabitur fermentum est et metus rutrum varius. Quisque quis risus libero. Phasellus eget metus ut est lacinia auctor. Curabitur viverra risus sed elit commodo interdum. Phasellus tortor est, luctus sed nibh id, vestibulum mattis nulla.

Proin pretium feugiat bibendum. Sed at elit eu odio dictum pulvinar sit amet ut mauris. Vestibulum ut elit bibendum, interdum nibh sed, viverra magna. Nam a pretium diam. Quisque congue metus ac euismod feugiat. Donec sed cursus arcu, ut malesuada arcu. Sed fringilla dignissim felis vitae ornare. Nullam feugiat convallis tortor. Donec faucibus hendrerit mi at facilisis. Suspendisse in elit aliquam, semper arcu eget, vestibulum orci. Curabitur non semper ligula, et elementum nunc. Donec id gravida sapien.

Integer at tortor sed leo posuere sagittis. Maecenas blandit dolor dui, sit amet ullamcorper risus venenatis et. Proin porta congue felis at efficitur. Aenean non facilisis quam, sit amet hendrerit erat. Aenean ornare nunc sapien, vitae suscipit ipsum feugiat vitae. Donec mauris libero, ornare porta sapien sed, mattis elementum sapien. Pellentesque sit amet auctor quam, quis posuere mi. Nunc sit amet interdum dolor. Aliquam imperdiet gravida turpis quis pellentesque. Maecenas facilisis massa ut nisi ullamcorper dapibus. Nunc non ipsum sit amet elit commodo luctus et vel velit. Donec rhoncus quam sed dui vulputate, sit amet vehicula turpis semper. Duis tellus enim, semper ut nunc euismod, rutrum commodo leo. Maecenas maximus ex ut nisl dignissim, in commodo sem tincidunt. Phasellus nec magna non orci vulputate posuere. Nulla mattis porttitor lorem vitae tempor. 
      </div>

    </div>
</div>