<div class="home-container">
    <div>
        <!-- slideshow -->
        <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="//src/assets/images/Shibuya.jpg">
              </div>
              <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="//src/app/assets/images/Madrid.jpg">
              </div>
              <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="//src/app/assets/images/Parigi.jpg">
              </div>
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
        </ngb-carousel>

    </div>
    <!-- <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum metus erat, ut accumsan erat vehicula id. Aenean vel gravida nisl. Nullam ac rhoncus augue, id lacinia lectus. Praesent efficitur neque nibh, sed semper massa placerat semper. Suspendisse non arcu a dui euismod tincidunt at ac metus. Fusce in leo nec sapien tincidunt convallis sit amet ut tortor. Donec convallis at sapien non malesuada. Ut rhoncus porta luctus. Quisque id consectetur nibh, in pharetra quam. Nam aliquam nulla ipsum, sit amet posuere massa laoreet id. Nulla vitae lectus sapien.

Integer bibendum rhoncus est sit amet elementum. Nulla quis nulla non lacus dapibus commodo. Ut vel purus tortor. Sed hendrerit lectus quis molestie ullamcorper. Fusce est nunc, bibendum vel posuere sit amet, ultrices vel libero. Vivamus non fermentum mi. Aenean aliquam, lacus vitae pulvinar hendrerit, nunc nunc congue odio, quis auctor ex turpis at nulla. Nam non ullamcorper ligula, a viverra erat. Donec et sodales nunc, vel ultricies ex. Cras ut viverra nisi. Sed risus eros, semper non luctus nec, condimentum id elit.

Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec non porta massa, id blandit turpis. Donec euismod ante vitae imperdiet rhoncus. Phasellus efficitur aliquam lobortis. In a interdum metus. Donec pulvinar sit amet libero in malesuada. Cras eget nunc lacus. Aliquam consectetur scelerisque posuere. Mauris in erat diam. Proin est enim, scelerisque in auctor at, accumsan sit amet mauris.

Fusce a sapien ac nunc rutrum posuere. Etiam auctor sed neque sed sollicitudin. Fusce a metus id leo placerat suscipit. Maecenas fringilla, ipsum vitae placerat tempus, velit tellus condimentum justo, in vestibulum neque dolor vel tortor. Duis eget diam in sapien cursus finibus. Duis interdum nisi eget venenatis volutpat. Curabitur at sapien massa. Nam quis mi vel diam bibendum blandit et eu risus. Suspendisse nec lorem elit.

In rutrum elit ex, vel dictum lectus tincidunt sit amet. Nam imperdiet, dolor vitae mollis tincidunt, sem ipsum scelerisque metus, ut rhoncus nulla sem quis nunc. Nullam ac enim non purus finibus tempor. Nullam ultricies nibh sit amet sapien tempor hendrerit. Suspendisse eget nisl eu tellus rutrum cursus ac eu erat. Nunc fermentum sagittis pulvinar. Donec efficitur sit amet leo dapibus dictum. Morbi aliquam lobortis eleifend. Nulla massa felis, blandit quis nisi sed, luctus iaculis risus. Quisque luctus neque feugiat, finibus ligula vel, elementum ex. Nulla facilisi.
    </div> -->
</div>