.app-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // background-image: url("src/assets/images/background-world.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
}

.header{
    display: block;
    width: 100%;
    height: 100px;
    background-color:#26A69A;
    // position: fixed;
    // top: 0;
}

.home{
    // width: 100%;
    // height: 100%;
    flex: 1 0 auto;
}

.travel{
    width: 100%;
    height: 100%;
}

.footer{
    // width: 100%;
    // height: 100px;
    background-color: #BDBDBD;
    flex-shrink: 0;
}